rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // PERMISSÃO TOTAL PARA DESENVOLVIMENTO
    match /{document=**} {
      allow read, write: if true;
    }
    
    // Regras específicas para a coleção adminmaster
    match /adminmaster/{document} {
      allow read, write: if true;
      
      // Subcoleção de usuários
      match /usuarios/{usuarioId} {
        allow read, write: if true;
      }
    }
  }
}
